.profile__avatar_overlay {
    background: url(../../../../images/btn-edit.svg) center no-repeat;
    background-size: 26px 26px;
    width: 120px;
    height: 120px;
    margin-right: 30px;
}

@media screen and (max-width: 900px) {
    .profile__avatar_overlay {
        margin-right: 0;
    }   
}