.profile__name {
    font-size: 42px;
    line-height: 1.15;
    font-weight: 500;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-right: 18px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 530px;
}

@media screen and (max-width: 580px) {
    .profile__name {
        font-size: 22px;
        line-height: 27px;
        margin-right: 10px;
        max-width: 254px;
    }   
}