@import url(./__avatar/profile__avatar.css);
@import url(./__info/profile__info.css);
@import url(./__title/profile__title.css);
@import url(./__name/profile__name.css);
@import url(./__about/profile__about.css);
@import url(../btn/_action/btn_action_edit.css);
@import url(../btn/_action/btn_action_add.css);

.profile {
    max-width: 880px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding-top: 40px;
}


@media screen and (max-width: 900px) {
    .profile {
        flex-direction: column;
    }   
}