.profile__btn_action_add {
    width: 150px;
    height: 50px;
    border: 2px solid #fff;
    box-sizing: border-box;
    border-radius: 2px;
}

@media screen and (max-width: 320px) {
    .profile__btn_action_add {
        width: 282px;
    }   
}