.profile__job {
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    color: #fff;
    margin: 0;
    padding: 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 530px;
}

@media screen and (max-width: 580px) {
    .profile__job {
        font-size: 14px;
        line-height: 17px;
        max-width: 254px;
    }   
}