.form__input-error {
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    color: #ff0000;
    position: absolute;
    top: calc(100% + 6px);
    left: 0;
    opacity: 0;
    transition: 0.3s;
}