.header__logo {
    max-width: 173px;
    min-width: 126px;
    padding-bottom: 41px;
}


@media screen and (max-width: 827px) {
    .header__logo {
        padding-left: 27px;
        padding-bottom: 32px;
    }   
}

@media screen and (max-width: 320px) {
    .header__logo {
        max-width: 126px;
    }   
}