.gallery__elements {
    max-width: 880px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, 282px);
    grid-gap: 20px 17px;
    justify-content: center;
    margin-top: 50px;
    list-style: none;
    padding: 0;
}

