@import url(../__content/popup-card__content.css);
@import url(../__btn-close/popup-card__btn-close.css);
@import url(../__image/popup-card__image.css);
@import url(../__title/popup-card__title.css);

.popup-card_open {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
}