.popup__content {
    width: 430px;
    background-color: #fff;
    border-radius: 10px;
    position: relative;
    margin: auto;
    padding: 34px 36px 36px;
    box-sizing: border-box;
}

@media screen and (max-width: 435px) {
    .popup__content {
        width: 282px;
        padding: 25px 22px;
    }   
}