.popup-edit_input {
    width: 100%;
    font-size: 14px;
    line-height: 17px;
    font-weight: normal;
    color: #000;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 14px 5px;
    margin-top: 16px;
}