.card__btn-delete {
    display: flex;
    background: url(../../../images/btn-delete.svg) center no-repeat;
    border: none;
    width: 18px;
    height: 20px;
    position: absolute;
    top: 19px;
    right: 15px;
    cursor: pointer;
    transition: opacity 0.5s;
}

.card__btn-delete:hover {
    opacity: 0.6;
}