.btn_action_save {
    width: 100%;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
    background-color: #000;
    color: #fff;
    padding: 15px 125px;
    border-radius: 2px;
    border: none;
    margin-top: 45px;
    cursor: pointer;
}

@media screen and (max-width: 435px) {
    .btn_action_save {
        padding: 14px 100px;
    }   
}

.btn_action_save:hover {
    opacity: 0.8;
}