.btn_action_add {
    width: 150px;
    height: 50px;
    background: url(../../../images/btn-add.svg) center no-repeat;
    border: 2px solid #fff;
    border-radius: 2px;
}

@media screen and (max-width: 435px) {
    .btn_action_add {
        width: 282px;
    }   
}