@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Inter/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/card/card.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/btn/btn.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_open/popup_open.css);

