@import url(../vendor/normalize.css);
@import url(../vendor/fonts/Inter/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/content/content.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/card/card.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/popup-edit/popup-edit.css);
@import url(../blocks/popup-edit/_open/popup-edit_open.css);
@import url(../blocks/popup-add/popup-add.css);
@import url(../blocks/popup-add/_open/popup-add_open.css);
@import url(../blocks/popup-card/popup-card.css);
@import url(../blocks/popup-card/_open/popup-card_open.css);