.profile__btn-edit {
    width: 24px;
    height: 24px;
    background: url(../../../images/btn-edit.svg) center no-repeat;
    border: 1px solid #fff;
}

.profile__btn-edit:hover {
    opacity: 0.6;
}