.card__btn-like {
    background: url(../../../images/btn-like.svg) center no-repeat;
    border: none;
    width: 21px;
    height: 19px;
    cursor: pointer;
    transition: opacity 0.5s;
    position: absolute;
    bottom: 38px;
    right: 18px;
}

.card__btn-like:hover {
    opacity: 0.5;
}